*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
  background-color: rgb(49, 47, 47);
  color: white;
}

.notes{
  display: flex;
  gap: 5rem;
  margin: 3rem;
  flex-wrap: wrap;
}

.note{
  padding: 2rem;
  border-radius: 2rem;
  background-color: rgb(18, 111, 18);
  button{
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
  }
}
.note-form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  input{
    padding: 0.3rem;
    border-radius: 0.4rem;
  }
  button{
    padding-inline: 0.2rem;
    padding-block: 0.5rem;
    background-color: green;
    color: white;
    border: none;
    outline: none;
    cursor:pointer;
    border-radius: 0.4rem;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 20px;
  border-radius: 6px;
  width: 300px;
  gap: 0.5rem;

textarea{
  width: 15rem;
  height: 15rem;
}
}